{% extends "base.html" %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <div class="card-header">
        Basic informations:
      </div>
      <div class="card-body">
        <ul>
          <li><h6 class="card-title">Corporation CEO: <a href="{% url 'character-sheet' corporation.ceo_character_id %}">{{ corporation.ceo_character_name }}</a></h6></li>
          <li><b>Ticker:</b>{{ corpoation.ticker }}</li>
          <li><b>Tax rate:</b> {{ esi.tax_rate }}% <br></li>
          <li><b>Member count:</b> {{ esi.member_count }}</li>
        </ul>
      </div>
    </div>
  </div>
  {% if corporation.alliance_id %}
  <div class="col mb-4">
    <div class="card">
      <div class="card-header">
        Alliance:
      </div>
      <div class="card-body">
        <ul>
          <b class="card-title">Member of: </b><a href="{% url 'alliance-sheet' corporation.alliance_id %}">{{ corporation.alliance_name }}</a>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col mb-4">
    <div class="card">
      <div class="card-header">
        Corporation specific scopes:
      </div>
      <div class="card-body">
        <ul>
          {% for scope in corporation.mandatory_esi_scopes %}
            <li>{{ scope }}</li>
          {% empty %}
            <li>No corporation specific scope</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-header">
        Cumulated scopes:
      </div>
      <div class="card-body">
        <ul>
          {% for scope in corporation.cumulated_mandatory_esi_scopes %}
            <li>{{ scope }}</li>
          {% empty %}
            <li>No scopes required</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
