{% extends "base.html" %}

{% block content %}

{% if new_coalition != None %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Coalition <strong>{{ new_coalition }}</strong> successfully created. Time to fill it.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if deleted_coalition != None %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Coalition <strong>{{ deleted_coalition }}</strong> successfully deleted.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<h1>List of Coalitions</h1>
<div class="d-flex justify-content-between mb-3">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <input type="text" id="nameInput" onkeyup="mySearchFunction()" placeholder="Search for name...">
  </div>
  <a class="btn btn-success" role="button" href="new">New</a>
</div>
<br>
<table id="coalitionList" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col" onclick="sortTable(0)">Coalition</th>
      <th scope="col" onclick="sortTable(1)">Ticker</th>
      <th scope="col" onclick="sortTable(2)">Owner</th>
      <th scope="col" onclick="sortTable(3)">Members</th>
    </tr>
  </thead>
  <tbody>
    {% for coalition, details in coalition_list.items %}
    <tr class="clickable" onclick="window.location='/coalition/{{ details.group_id }}'">
      <td>{{ details.coalition_name }}</td>
      <td>{{ details.ticker }}</td>
      <td>{{ details.owner }}</td>
      <td>{{ details.members|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
	/*Fonction pour effectuer une recherche dans le tableau  */
function mySearchFunction() {
  // Déclaration des variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("nameInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("coalitionList");
  tr = table.getElementsByTagName("tr");
 //Parcours du tableau et masquer vce qui ne correspond pas
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<script>
	/*Fonction pour trier les résultats d'un tableau */
function sortTable(n) {
	// on déclare
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("coalitionList");
  switching = true;
  // Définir sur tri croissant
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

{% endblock content %}
