{% extends "base.html" %}

{% block content %}

{% if new_alliance != None %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Alliance <strong>{{ new_alliance }}</strong> successfully added.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<h1>{{ coalition.coalition_name }}</h1>

<div class="card-columns">
    <div class="card">
      <!--To do -->
      <div class="card-header text-dark">
        Details:
      </div>
      <div class="card-body">
        <h6 class="card-subtitle">Ticker:</h6> {{ coalition.ticker }}
        <h6 class="card-subtitle">Owner:</h6> {{ coalition.owner }}
        <h6 class="card-subtitle">Created:</h6> {{ coalition.created_on }}
        <h6 class="card-subtitle">Updated:</h6> {{ coalition.updated_on }}
      </div>
    </div>

    <div class="card">
        <div class="card-header">
          Members
        </div>
        <div class="card-body">
          <ul class="list-coalition list-coalition-flush">
            {% for member in members_names %}
            <li>{{ member.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    <a class="btn btn-success" role="button" href="{{ coalition.coalition_id }}/add">Add alliance</a>
</div>
{% endblock content %}
