{% extends "base.html" %}

{% block content %}

{% if new_alliance != None %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Alliance <strong>{{ new_alliance }}</strong> successfully added.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if removed_alliance != None %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Alliance <strong>{{ removed_alliance }}</strong> successfully removed.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<h1>{{ coalition.coalition_name }}</h1>

<div class="card-columns">
    <div class="card">
      <!--To do -->
      <div class="card-header text-dark">
        Details:
      </div>
      <div class="card-body">
        <h6 class="card-subtitle">Ticker:</h6> {{ coalition.ticker }}
        <h6 class="card-subtitle">Owner:</h6> {{ coalition.owner }}
        <h6 class="card-subtitle">Created:</h6> {{ coalition.created_on }}
        <h6 class="card-subtitle">Updated:</h6> {{ coalition.updated_on }}
      </div>
    </div>

    <table id="memberList" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col" onclick="sortTable(0)">Logo</th>
          <th scope="col" onclick="sortTable(1)">Name</th>
          <th scope="col" onclick="sortTable(2)">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members_names %}
        <tr style="position:relative">
          <td><img src="https://images.evetech.net/alliances/{{ member.id }}/logo?size=32" alt="Alliance logo"></td>
          <td>{{ member.name }}</td>
          <td>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#RemoveModal{{ member.id }}">
              Remove
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <a class="btn btn-success" role="button" href="{{ coalition.coalition_id }}/add">Add alliance</a>
    <br><br>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteCoalitionModal">
      Delete Coaliton
    </button>

    {% for member in members_names %}
      <div class="modal fade" id="RemoveModal{{ member.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ member.id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="{{ member.id }}ModalLabel">Remove alliance</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to remove <b>{{ member.name }}</b> from <b>{{ coalition.coalition_name }}</b>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a class="btn btn-warning" href="{{ coalition.coalition_id }}/remove/{{ member.id}}" role="button">Confirm</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="modal fade" id="DeleteCoalitionModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCoalitionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="DeleteCoalitionModalLabel">Delete coalition</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the coalition <b>{{ coalition.coalition_name }}</b>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a class="btn btn-danger" href="{{ coalition.coalition_id }}/delete" role="button">Confirm</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
