#logout:hover{
background-color:#E50000 !important;
border-bottom: 1px solid #E50000 !important;
}

#discord:hover{
background-color:#7289da !important;
border-bottom: 1px solid #7289da !important;
}

#teamspeak:hover{
background-color:#2580c3 !important;
border-bottom: 1px solid #2580c3 !important;
}

