{% extends "base.html" %}

{% block content %}

<h1>List of Users</h1>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i>
</span>
  </div>
<input type="text"  id="nameInput" onkeyup="mySearchFunction()" placeholder="Search for name...">
</div>
<br>

<table id="userList" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      
      <th scope="col">User</th>
      <th scope="col">Corporation</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      
      {% for character in character_list %}
      <td>{{ character }}
      
 	 </td>
      <td>todo : baliseCorpo</td>
    </tr>
      {% endfor %}   
  </tbody>
</table>

<script>
function mySearchFunction() {
  // Déclaration des variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("nameInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("userList");
  tr = table.getElementsByTagName("tr");
 //Parcours du tableau et masquer vce qui ne correspond pas
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

{% endblock content %}
