
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'character-sheet' character_id %}"><img src="https://images.evetech.net/characters/{{ character_id }}/portrait?size=32" alt="character_img" class="rounded-circle z-depth-0"> {{ character_name }}</a>

  <div class="collapse navbar-collapse" id="characternavbar">
    <ul class="navbar-nav mr-auto">
        <li><a class="nav-link" href="{% url 'character-sni' character_id %}">SNI</a></li>
        <li><a class="nav-link" href="{% url 'character-assets' character_id %}">Assets</a></li>
        <li><a class="nav-link" href="{% url 'character-contracts' character_id %}">Contracts</a></li>
        <li><a class="nav-link" href="{% url 'character-locations' character_id %}">Locations</a></li>
        <li><a class="nav-link" href="{% url 'character-mails' character_id %}">Mails</a></li>
        <li><a class="nav-link" href="{% url 'character-skills' character_id %}">Skills</a></li>
        <li><a class="nav-link" href="{% url 'character-wallet' character_id %}">Wallet</a></li>
    </ul>
  </div>
</nav>
