{% extends 'base.html' %}

{% block content %}


 
     <div class="container py-5 text-dark">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="text-warning fa fa-exclamation-triangle fa-5x"></i><br/></p>
               </div>
               <div class="col-md-10">
                    <h3>Error 403</h3>
                    <p>Sorry, you've tried to do something you're not allowed to.<br>Please go back to the previous page to continue browsing.</p>
                    <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
               </div>
          </div>
     </div>

 

{% endblock %}
