{% extends 'base.html' %}

{% block content %}


 
     <div class="container py-5 text-dark">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="text-danger fa fa-question fa-5x"></i><i class="text-danger fa fa-exclamation fa-4x"></i><br/></p>
               </div>
               <div class="col-md-10">
                    <h3>Oops ! 404 not found </h3>
                    <p>Sorry, we can't found the element you're looking for.<br>Please go back to the previous page to continue browsing.</p>
                    <a class="btn btn-info" href="javascript:history.back()"><i class="fa fa-home fa-1x"></i> Go back</a>
               </div>
          </div>
     </div>

 

{% endblock %}
