<!doctype html>
{% load static %}
{% load bootstrap4 %}

{% bootstrap_messages %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en" dir="ltr">
  <head>
    <title>SeAT Navy Issue</title>
    <meta charset="utf-8">
  </head>

  <body style="background-color:#202b38;">
    <h1 style="color:white;">SeAT Navy Issue</h1>

    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 90vh">
      <a href="/auth" class="rounded mx-auto"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-large.png" alt=""></a>
    </div>

  </body>
</html>
